# ZhiPu GLM API Key
ZHIPU_API_KEY=xxxxxx
BASE_URL=https://open.bigmodel.cn/api/paas/v4
COMPLETIONS_PATH=/chat/completions
MODEL_ID=glm-4.7-flash
# PostgreSQL
DB_USERNAME=postgres
DB_PASSWORD=postgres
